*{
    margin:0;
    padding:0;
}
ul,ol{
    list-style: none;
}
.clearfix::after{
    content:"";
    height:0;
    font-size:0;
    clear: both;
    visibility: hidden;
    display:block;
}
a{
    text-decoration: none;
}
body{
    background:lavender;
}
#main{
    width: 1200px;
    margin:0 auto;
}
#topBar{
    width: 1185px;
  height: 50px;
  background:#fff;
  font-size:18px;
  display:flex;
  align-items: center;
  padding-left:20px;
  box-sizing: border-box;
 
}
.sotBtn{
    display: flex;
    align-items: center;
    margin:0 10px;
    color: blue;
}
.sotBtn:hover>span{
    color:red;
}
.arrows{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size:14px;
    color:#333;
}
.lists{
    display: flex;
    flex-wrap: wrap;
}
.lists>li{
    width: 225px;
    margin-right:15px;
    background:#fff;
    margin-top:20px;
    padding:20px;
    box-sizing: border-box;
    font-size:14px;
    
}
.lists>li>img{
    width: 140px;
    display:block;
    margin:0 auto;
}
.numInfo{
    display: flex;
    justify-content: space-between;
}
.lists p{
    line-height: 30px;
}

.arrowUp.current{
    color:red;
}
.arrowDown.current{
    color:red;
}